@use 'hero';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    color: #fff;
}

.container {
    max-width: 960px; // max-width: 960px ---> sera o tamanho maxixo do container 
    width: 100%; // colocando o width: 100% estamos falando ao navegador que queremos 100% do tamanho de 960px
    margin: 0 auto; // colocando margin 0 auto estamos centralizando o elemnto.

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}

body {
    background-color: red;
}